@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e1f0fc;
}
@layer base {
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/eot/IRANYekanWebBold.eot");
    src: url("/fonts/eot/IRANYekanWebBold.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */ url("/fonts/woff/IRANYekanWebBold.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/woff2/IRANYekanWebBold.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/ttf/IRANYekanWebBold.ttf")
        format("truetype");
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/eot/IRANYekanWebRegular.eot");
    src: url("/fonts/eot/IRANYekanWebRegular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */ url("/fonts/woff/IRANYekanWebRegular.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/woff2/IRANYekanWebRegular.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/ttf/IRANYekanWebRegular.ttf")
        format("truetype");
  }
}
