@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e1f0fc;
}
@layer base {
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IRANYekanWebBold.eot");
    src: url("../fonts/IRANYekanWebBold.eot?#iefix") format("embedded-opentype"),
      /* IE6-8 */ url("../fonts/IRANYekanWebBold.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IRANYekanWebBold.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IRANYekanWebBold.ttf")
        format("truetype");
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/IRANYekanWebRegular.eot");
    src: url("../fonts/IRANYekanWebRegular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */ url("../fonts/IRANYekanWebRegular.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/IRANYekanWebRegular.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IRANYekanWebRegular.ttf")
        format("truetype");
  }
}
